<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BarcodeGenarator.Properties.Settings.BCConnectionString1"
            connectionString="Data Source=User-PC;Initial Catalog=BarcodeGenarator;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="BarcodeGenarator.Properties.Settings.BCConnectionString"
            connectionString="Data Source=User-PC;Initial Catalog=Jinadasa;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="BarcodeGenarator.Properties.Settings.BarcodeGenaratorConnectionString"
            connectionString="Data Source=User-PC;Initial Catalog=BarcodeGenarator;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>

  <appSettings>
    <add key="SMTP" value="smtp.gmail.com"/>
    <add key="FromMail" value="sdsf.sf@gmail.com"/>
    <add key="EmailUserName" value="sdfsf.fsdfsf@gmail.com"/>
    <add key="EmailPassword" value="sfsf"/>

    <add key="Database.ConnectionStr" value="data source=User-PC; initial catalog=BarcodeGenarator; user id=sa; Password=sa; persist security info=True; packet size=4096; Pooling=True; Connection Reset=True; Enlist=True; Max Pool Size=100; Min Pool Size=0; Connection Lifetime=0" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>

  <runtime>

    <NetFx40_LegacySecurityPolicy enabled="true"/>

  </runtime>
</configuration>
